<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Morse Decoder</title>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- PERSONAL -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
    <!-- JS -->
    <script src="../js/profile.js"></script> 
    <!-- ICON -->
    <link rel="shortcut icon" href="../data/logo_square_fill.png">
    
</head>

<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <% if(locals.user){ %>
                <a class="navbar-brand" href="/switch">Morse Decoder</a>
            <% } else{ %>  
                <a class="navbar-brand" href="/">Morse Decoder</a>  
            <% } %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-left">
                <li><a href="/learn">Learn Morse Code</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Calibration</a></li>
                        <li><a href="/abbr">Abbreviations</a></li>
                        <li><a href="#">Menu Code</a></li>
                    </ul>
                </li>
            </div>
            <% if(locals.user){ %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i><%= user.general.username %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">My Profile</a></li>                        
                            <li><a href="/signout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            <% } else{ %>  
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/signin">Sign In</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>

<body>
    <div class="container content">
        <div class="row">
            <div id="profilePicWrapper" class="col-md-3">
                <img id="profilePic" class="img-circle" src="<%= user.general.image %>"/>
            </div>  
            <div class="col-md-9">
                <h3> General Information </h3>
                <table id="infoTable" class="table">
                    <tbody>
                        <tr>
                        <th>Username</th>
                            <td><%= user.general.username %></td>
                        </tr>
                        <tr>
                        <th>Email</th>
                            <td><%= user.general.email %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="selectLanguageForm" role="form">
                    <div class="form-group">
                        <input id="uid" class="form-control" name="uid" value="<%= user._id %>" style="display: none"/>
                        <label for="language"><h3>Speech Language</h3></label>
                        <select class="form-control" id="language" name="language" value="language">
                            <option value="UK English Female">UK English Female</option>
                            <option value="UK English Male">UK English Male</option>
                            <option value="US English Female">US English Female</option>
                            <option value="Spanish Female">Spanish Female</option>
                            <option value="French Female">French Female</option>
                            <option value="Deutsch Female">Deutsch Female</option>
                            <option value="Italian Female">Italian Female</option>
                            <option value="Greek Female">Greek Female</option>
                            <option value="Hungarian Female">Hungarian Female</option>
                            <option value="Turkish Female">Turkish Female</option>
                            <option value="Russian Female">Russian Female</option>
                            <option value="Dutch Female">Dutch Female</option>
                            <option value="Swedish Female">Swedish Female</option>
                            <option value="Norwegian Female">Norwegian Female</option>
                            <option value="Japanese Female">Japanese Female</option>
                            <option value="Korean Female">Korean Female</option>
                            <option value="Chinese Female">Chinese Female</option>
                            <option value="Hindi Female">Hindi Female</option>
                            <option value="Serbian Male">Serbian Male</option>
                            <option value="Croatian Male">Croatian Male</option>
                            <option value="Bosnian Male">Bosnian Male</option>
                            <option value="Romanian Male">Romanian Male</option>
                            <option value="Catalan Male">Catalan Male</option>
                            <option value="Australian Female">Australian Female</option>
                            <option value="Finnish Female">Finnish Female</option>
                            <option value="Afrikaans Male">Afrikaans Male</option>
                            <option value="Albanian Male">Albanian Male</option>
                            <option value="Arabic Male">Arabic Male</option>
                            <option value="Armenian Male">Armenian Male</option>
                            <option value="Czech Female">Czech Female</option>
                            <option value="Danish Female">Danish Female</option>
                            <option value="Esperanto Male">Esperanto Male</option>
                            <option value="Hatian Creole Female">Hatian Creole Female</option>
                            <option value="Icelandic Male">Icelandic Male</option>
                            <option value="Indoneseian Female">Indonesian Female</option>
                            <option value="Latin Female">Latin Female</option>
                            <option value="Latvian Male">Latvian Male</option>
                            <option value="Macedonian Male">Macedonian Male</option>
                            <option value="Moldavian Male">Moldavian Male</option>
                            <option value="Montengrin Male">Montenegrin Male</option>
                            <option value="Polish Female">Polish Female</option>
                            <option value="Brazilian Portugese Female">Brazilian Portuguese Female</option>
                            <option value="Portugese Female">Portuguese Female</option>
                            <option value="Serbo-Croatian Male">Serbo-Croatian Male</option>
                            <option value="Slovak Female">Slovak Female</option>
                            <option value="Spanish Latin American Female">Spanish Latin American Female</option>
                            <option value="Swahili Male">Swahili Male</option>
                            <option value="Tamil Male">Tamil Male</option>
                            <option value="Thai Female">Thai Female</option>
                            <option value="Vietnamese Male">Vietnamese Male</option>
                            <option value="Welsh Male">Welsh Male</option>
                        </select>
                    </div>
                    <button class="btn btn-default">Select Language</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3> Abbreviations </h3>

                <div id="abbreviations"></div>
                <table id="abbrTable" class="table"> 
                    <thead> 
                        <th class="col-md-2">#</th> 
                        <th style="display: none"> ID </th> 
                        <th class="col-md-5">Abbreviated Phrase</th> 
                        <th class="col-md-5">Full Phrase</th> 
                        <th class="col-md-1"> </th> </tr> 
                    </thead>
                    <tbody id="abbrTableBody">
                    </tbody>
                </table>
                
            </div>
        </div>

    </div>
    
</body>
</html>